<div class="fitgirl">
<!--
<div>
  <h2>健康由你，康复有我 ~~ Welcome to We Health</h2>
</div>
-->
  <div class="container ">
      <%= render :partial => "jobs/fit_job_intro" %>
  </div>

<!--
<div class="search position">
    <%= render :partial => "jobs/search_bar" %>
</div>

<table class="table table-boldered tableopacity ">
    <thead>
        <tr>
            <td>
              <a class="btn btn-xs btn-default" href="/jobs" id="acolor">
              岗位名称<i class="fa fa-caret-down"></i></a></td>
            </td>
            <td>
                <a class="btn btn-xs btn-default" href="/jobs?order=by_lower_bound" id="acolor">
                薪资下限<i class="fa fa-caret-down"></i></a>
            </td>
            <td>
                <a class="btn btn-xs btn-default" href="/jobs?order=by_upper_bound" id="acolor">
                薪资上限<i class="fa fa-caret-down"></i></a>
            </td>
            <td>
              <span id="acolor">公司</span>
            </td>
            <td>
              <span id="acolor">工作地点</span>
            </td>
            <td>
              <a class="btn btn-xs btn-default" href="/jobs" id="acolor">
              发布时间<i class="fa fa-caret-down"></i></a></td>
            </td>
        </tr>

    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.wage_lower_bound %>
            </td>
            <td>
                <%= job.wage_upper_bound %>
            </td>
            <td>
                <%= job.company %>
            </td>
            <td>
                <span class="fa fa-map-marker"></span> <%= job.location %>
            </td>
            <td>
                <%= job.created_at %>
            </td>
        </tr>
        <% end %>
    </tbody>

</table>-->

<div class="col-md-12">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li role="presentation" class="active">
        <a href="" role="tab" data-toggle="tab">Home</a>
      </li>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          筛选
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li role="presentation">
            <a href="/jobs?order=created_at">更新时间排序</a>
          </li>
          <li role="presentation">
            <a href="/jobs?order=by_upper_bound">薪资上限排序</a>
          </li>
          <li role="presentation">
            <a href="/jobs?order=by_lower_bound">薪资下限排序</a>
          </li>
        </ul>
      </li>
    </ul>


<% @jobs.each do |job| %>
      <div class="row">
        <div class="col-md-6">
          <span style="font-size:1.3em"><i class="fa fa-paw" aria-hidden="true"></i><%= link_to(job.title, job_path(job))%></span>
        </div>
      </div>

      <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
          <span style="font-size:1em;"><i class="fa fa-handshake-o"></i> 企业名称：<%= job.company %></span>
        </div>
        <div class="col-md-3">
          <span class="badge badge-info">
            薪资： <span style="font-size:1em;" class="fa fa-rmb"></span><%= job.wage_lower_bound %> - <%= job.wage_upper_bound %> 元
          </span>
       </div>
       <div class="col-md-3">
         <span style="font-size:1em;"><i class="fa fa-envelope-open-o"></i> 邮箱地址：</span>
       </div>
      </div>

      <div class="row" style="margin-top:5px;">
        <div class="col-md-3">
          <span style="font-size:1em;"><i class="fa fa-paper-plane-o" aria-hidden="true" style="color: black;"></i> 城市：<%= job.location %></span>
        </div>
        <div class="col-md-3">
          <span style="font-size:1em;"><i class="fa fa-thumbs-o-up"></i> 招聘人数：5</span>
        </div>
        <div class="col-md-3">
          <span style="font-size:1em;"><i class="fa fa-thumbs-up"></i> 竞聘人数：3</span>
        </div>
        <div class="col-md-3">
          <span style="font-size:1em;"><i class="fa fa-clock-o" aria-hidden="true"></i> 发布于：<%= job.created_at %></span>
        </div>
      </div>
      <hr>

<% end %>

    </div>
  </div>

  <div class="text-center">
    <%= will_paginate @jobs %>
  </div>
</div>
