<div>
<!--
<div>
  <h2>健康由你，康复有我 ~~ Welcome to We Health</h2>
</div>
-->
  <div class="container ">
      <%= render :partial => "jobs/fit_job_intro" %>
  </div>

<!--
<div class="search position">
    <%= render :partial => "jobs/search_bar" %>
</div>

<table class="table table-boldered tableopacity ">
    <thead>
        <tr>
            <td>
              <a class="btn btn-xs btn-default" href="/jobs" id="acolor">
              岗位名称<i class="fa fa-caret-down"></i></a></td>
            </td>
            <td>
                <a class="btn btn-xs btn-default" href="/jobs?order=by_lower_bound" id="acolor">
                薪资下限<i class="fa fa-caret-down"></i></a>
            </td>
            <td>
                <a class="btn btn-xs btn-default" href="/jobs?order=by_upper_bound" id="acolor">
                薪资上限<i class="fa fa-caret-down"></i></a>
            </td>
            <td>
              <span id="acolor">公司</span>
            </td>
            <td>
              <span id="acolor">工作地点</span>
            </td>
            <td>
              <a class="btn btn-xs btn-default" href="/jobs" id="acolor">
              发布时间<i class="fa fa-caret-down"></i></a></td>
            </td>
        </tr>

    </thead>
    <tbody>
        <% @jobs.each do |job| %>
        <tr>
            <td>
                <%= link_to(job.title, job_path(job)) %>
            </td>
            <td>
                <%= job.wage_lower_bound %>
            </td>
            <td>
                <%= job.wage_upper_bound %>
            </td>
            <td>
                <%= job.company %>
            </td>
            <td>
                <span class="fa fa-map-marker"></span> <%= job.location %>
            </td>
            <td>
                <%= job.created_at %>
            </td>
        </tr>
        <% end %>
    </tbody>

</table>-->
  <%= render :partial => "jobs/job_list" %>


  <div class="text-center">
    <%= will_paginate @jobs %>
  </div>
</div>
