<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">We Health </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                      <% if !current_user %>
                        <li><a href="#" data-toggle="modal" data-target="#signup-modal">注册</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#login-modal">登入</a></li>
                      <% else %>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              Hi!, <%= current_user.email %>
                              <b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu">
                              <% if current_user.admin? %>
                              <li> <%= link_to("Admin Panel", admin_jobs_path) %> </li>
                              <% end %>
                              <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                          </ul>
                        </li>
                      <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="loginmodal-container">
       <h2>登陆</h2>
       <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <div class="form-inputs">
           <%= f.input :email, :label => "电子邮件", required: false, autofocus: true %>
           <%= f.input :password, :label => "密码", required: false %>
           <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
         </div>
         <div class="form-actions">
           <%= f.button :submit, "登陆" %>
         </div>
       <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>注册</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, :label => "电子邮件", required: true, autofocus: true %>
          <%= f.input :password, :label => "密码", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, :label => "再次确认密码", required: true %>
        </div>
        <div class="form-actions">
            <%= f.button :submit, "注册" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--
<div class="mod mod-header">
				<div id="logo"><a href="/en_us/home.html" class="header-branding">SAS | The Power to Know</a></div>
        <nav id="utility-nav">
    <ul>
        <li class="utility-nav-profile"><div class="profile_login profilelogin"><div id="login">
        <p class="profileLogin">
            <button class="profhref" id="loginButton" onclick="handleLogin('en_us');">Sign In</button>
        </p>
    </div>
    <div style="display:none" id="logout" class="first">
        <p class="profileLogin">
            Welcome<span id="loginDisplayName"> </span>
            <span class="profileMgt">
                <a class="edit" id="editProfileButton" href="https://www.sas.com/profile/user/contact.htm?locale=en_us&amp;returnURL=https://www.sas.com/en_us/home.html">
                    <span>Edit Profile</span>
                </a>
                <button class="profhref" id="logoutButton" onclick="processLogoutRequest()">
                    <span>Log Out</span>
                </button>
            </span>
        </p>
    </div>
</div>
</li>
        <li class="utility-nav-wwsites" id="li-utility-nav-wwsites"><button id="utilahref-wwsites" aria-haspopup="true" aria-owns="utilnav-wwsites" class="is-dropdown">Worldwide Sites</button>
                    <script type="text/javascript">
                        var func = function() { SASDropdownDisplay.toggleNavPanel('utilnav-wwsites', 'li-utility-nav-wwsites')};
                        SASHeader.addEventListener('click', func, 'utilahref-wwsites');
                    </script>
                    <div class="ddpanel-wrapper">
	                    <div id="utilnav-wwsites" class="ddpanel" style="display:none;">
	                        <button id="close-dd-utilnav-wwsites" class="close"></button>
	                            <script type="text/javascript">
	                                var func = function() { SASDropdownDisplay.toggleNavPanel('utilnav-wwsites', 'li-utility-nav-wwsites')};
	                                SASHeader.addEventListener('click', func, 'close-dd-utilnav-wwsites');
	                            </script>
	                            <div class="par parsys"><div class="parbase section text"></div>
<div class="parbase section text"><p><a href="/en_us/home.html">Corporate Site (www.sas.com)</a><br />
</p>


</div>
<div class="parbase section text"><p><span class="txt-large">Worldwide Sites</span><br />
</p>


</div>
<div class="styledcontainer parbase"><div class="container compact "  id="wwcontact-links">
    <div class="bg bg-op-full bg-pos-full" style=" ">
        </div>
    <div class="par parsys"><div class="parbase listgroup section"><div class="syncmode  sync"></div>

<div class="mcl-4 numCols-">
        <ul class="listOfItems none-list list-arrow" data-group-limit="999">
                <li class="listItem  childpagealbania">
                        <a href='/en_si/home.html' target='_self'>
                  <span class='title'>
                  Albania</span></a></li>
                <li class="listItem  childpageargentina">
                        <a href='/es_ar/home.html' target='_self'>
                    <span class='title'>
                    Argentina</span></a></li>
                </ul>
            </div>
    </div>
<div class="parbase section text"><p><span class="txt-large">Worldwide Contacts</span></p>

<p>If you don't find your country in the list, see our <a href="/en_us/contact.html#offices">worldwide contacts list</a>.<br />
</p>


</div>
</div>
</div>
</div>
</div>
</div>
                    </div>
                </li><li class="utility-nav-contact" id="li-utility-nav-contact"><a href="/en_us/contact.html"><span>Contact Us</span></a>
                </li><li id="header-chat">
		<div id='lpButtonDiv11'>

		</div>
	</li>
</ul>
    <form role="search" id="searchBox" method="get" action="//www.sas.com/search/searchquery.html">
	<label for="searchField">Search</label>
    <input id="searchField" type="text" name="qt" placeholder="Search" />


    <input type="hidden" name="zz" value="us" />
    <input type="hidden" name="qs" value="| url:/en_us" />
    <input type="hidden" name="qc" value="extsas" />
    <input type="hidden" name="la" value="en" />
    <input class="searchButton" type="submit" value="Search" />
</form>

</nav>
</div>
-->
